@import url(variables.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   background-color: black;
    display:grid;
    grid-template-columns: 1fr 1.8fr 1fr;
    color: var(--color3);
    font-family: "Mukta", sans-serif;
    height: 100vh;
    overflow-y: hidden;
}
::-webkit-scrollbar {
    width: 10px; 
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px; 
}
* {
    scrollbar-width: thin;
    scrollbar-color: #888 transparent;
}
*::-moz-scrollbar {
    width: 10px;
}
*::-moz-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
}
.album{
    display: flex;
    flex-direction: column;
    height: 100svh;
    gap: 0.7rem;
    padding: 0.5rem;
    width: 100%;
}

.discover{
    background-color: var(--color2);
    width: 100%;
    position: relative;
    justify-content: space-between;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-self: center;
    padding: 1rem;
    height: 23svh;
}
.discover h1{
    font-size: 3.5svh;
    color: var(--color3);
    margin-top: 0.3em;
}

.album__search {
    display: flex;
    align-items: center;
    position: relative;
    text-align: center;
    align-self: center;
  }
  
  .search-header__input {
    font-family: inherit;
    font-size: 16px;
    background-color: #0a0a0a;
    border: solid 0.5px #525252;
    color: #646464;
    padding: 0.7rem 1rem;
    border-radius: 25px;
    width: 20vw;
    height: 48px;
    transition: all ease-in-out 0.5s;
    margin-right: -2rem;
    opacity: 1;
    text-align: center;
  }
  
  .search-header__input:hover,
  .search-header__input:focus {
    box-shadow: 0 0 1em #00000013;
  }
  
  .search-header__input:focus {
    outline: none;
    background-color: #0a0a0aad;
  }
  
  .search-header__input::-webkit-input-placeholder {
    font-weight: 100;
    color: #3a3a3a;
  }
  
  .search-header__input:focus + .search-header__button {
    background-color: transparent;
  }
  
  .search-header__button {
    border: none;
    background-color: transparent;
    margin-top: 0.1em;
  }
  
  .search-header__button:hover {
    cursor: pointer;
  }
  
  .search-header__icon {
    height: 1.3em;
    width: 1.3em;
    fill: #3a3a3a;
  }
  
/* seccion de top char */
.albumTopSection{
    display: flex;
    flex-direction: column; 
    background-color: var(--color2);
    padding: 2rem;
    border-radius: 1rem;
    color: var(--color3);
    height: 57svh;
}
.albumGallery img:hover{
    width: 50%;
    transition: 0.5s;
}
.albumGallery :nth-child(3){
    color: rgba(255, 255, 255, 0.521)
    
}
.albumGallery img{
    width: 150px;
    transition: width 0.3s ease;
    border-radius: 1rem;
}
.albumTopSectionHeader{
    display: flex;
    flex-direction: row;
    font-size: x-large;
    justify-content: space-between;
}
.albumWeek{
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 0.479);
}
.albumWeek{
    display: flex;
    gap: 0.2rem;
}
.albumGallery{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    width: 100%;
    overflow-y: scroll; 
    height: auto;
    margin-top: 1em;
    
}

.albumGallery img {
    border-radius: 1em;
    width: 37%; 
    height: auto; 
    margin: 0.5em;
}
.main__frame{
    display: flex;
    align-items: center;
    position: relative;
    height: 85svh;
    margin-bottom: 3svh;
    width: 95%;
}
/* you may like this section  */
.mayLikeSection{
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
    background-color: var(--color2);
    border-radius: 1rem;
    color: var(--color3);
    height: 18svh;
}
.mayLikeName :nth-child(2){
    color:rgba(255, 255, 255, 0.479)
}
.mayLikeTitle{
    display: flex;
    justify-content: flex-start;
    padding-top: 1rem;
}

.mayLikeSongs img{
    width: 70px;
    border-radius: 1rem;
}
.mayLikeSongs{
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 0.3rem;
    width: 97%;
    border-radius: 1rem;
}
.mayLikeSongs:hover{  
        background-color: #242424;
}
.descritionMayLike{
    overflow: hidden;
}
.mayLikeGallery{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 15svh;   
    margin-bottom: 1rem;
    overflow-y: scroll; 
}
.album__mayLikeSongs :nth-child(3){
    margin-left: 3rem;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color2);
    border-radius: 1rem;
    margin: 0.5rem 0;
    position: relative;
    height: 98svh;
    justify-content: space-between;
}

.mainHeader{
    display: flex;
    height: 5svh;
    align-items: center;
    font-size: 2.5svh;
    margin-top: 2svh;
}
#changeThemeButton{
    position: absolute;
    right: 1.5em;
    top: 1.5em;

}
.album__mainSearch{
    display: flex;
    align-items: center;
    height: 5svh;
    margin-bottom: 1.2svh;
}
.album__mainSearch i{
    font-size: x-large;
}
.album__mainSearch input[type="text"]{
    flex: 1; 
    border: none;
    background-color:transparent; 
    color: #fff; 
    font-size: 18px; 
    outline: none;
    margin-left: 0.5em;
}
.album__mainSearch button {
    padding: 10px 20px;
    background-color:#242424; 
    color: #fff; 
    border: none; 
    border-radius: 0 50px 50px 0; 
    cursor: pointer;
}
.album__mainSearch button:hover {
    background-color: #fff;
    color: black;
    transition: 0.5s;
}
.trackHeader{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 21svh;
    padding: 1rem;
}
.track{
    display: flex;
    flex-direction: column; 
    margin: 0.5rem;
    gap: 2rem;
    border-radius: 1rem;
    height: 98svh;
    background-color: var(--color2);
}
.trackList{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: 67vh;
    gap: 1rem;
    padding-left: 1rem;
}
.track__heading h3{
    font-size: 2em;
    margin-top: 0.3em;
}
.track__heading h5{
    padding-top: 2rem;
}

.trackSongsName{
    display: flex;
    align-items: center; 
    border-radius: 1rem;
    transition: padding 0.3s ease;
    width: 98%;
    margin-bottom: 0.8em; 
}
.artist__name{
    text-wrap: nowrap;
}
.playingNext{
    padding-left: 2rem;
    font-size: large;

}
.trackDescription{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-left: 0.5vw;
    font-size: 0.9vw;
}

.trackDescription :nth-child(2){
    color:rgba(255, 255, 255, 0.479)
}

.track__time{
    display: flex;
    text-wrap: nowrap;
    justify-content: center;
    flex-direction: column;
    margin-left: 3rem;
    margin-right: 2em;
}
.track__año{
    align-self: center;
    font-size: smaller;
}

.trackSongsName:hover{
    background-color: #242424;
    padding: 0.4rem;
    cursor: pointer;
}
.trackSongsName img{
    width: 60px;
    margin-left: 1vw;
    border-radius: 0.8rem;
}
img:hover{
    cursor: pointer;
}

.track__songsName {
    opacity: 0;
}

.track__songsName.active {
    opacity: 1;
}

.mobileMenu{
    display: none;
}
.mobileReproducer{
    display: none;
}

@media (max-width: 800px) {

    body{
        display: grid;
        grid-template-columns: 1fr;
        overflow-y: scroll;
        position: relative;
    }
    .mainColumn, .track{
        display: none;
    }
    .album{
        height: 100svh;
    }
    #firstColumn{
        display: block;
    }
    .mobileReproducer{
        display: flex;
        position: absolute;
        align-items: center;
        width: 140px;
        gap: 0.5em;
        height: 40px;
        z-index: 99;
        right: 5%;
        padding: 1.5vw;
        background-color: black;
        top: 2svh;
        border-radius: 1rem;
    }
    .album__search{
        margin-top: 1svh;
        align-self: flex-start;
    }
    .album__search i{
        font-size: medium;
    }
    .album__search input[type="text"]{
        font-size: 0.8rem;
    }
    .discover{
        width: 95vw;
        height: auto;
        gap: 1svh;
        margin-bottom: 1svh;
        padding: 3vw;
    }
    .discover h1{
        font-size: 6.5vw;
    }
    .search-header__input{
        width: 90vw;
        height: 5svh;
    }
    .albumTopSection{
        width: 95vw;
        height: 50svh;
        margin-bottom: 1svh;
        padding: 4vw;
    }
    .albumGallery img:hover{
        width: 47%;
    }
    .mayLikeSection{
        width: 95vw;
        height: 22vh;
        margin-bottom: 1svh;
        padding-left: 4vw;
    }
    .mayLikeTitle{
        margin-bottom: 1svh;
        padding-top: 4vw;
    }
    .album__discover h1{
    font-size: 3rem;
    }
    .album__discover :nth-child(1){
        color: var(--color5);
    }
    .album__songs img{
        width: 150px;
        transition: width 0.3s ease;
        border-radius: 1rem;
    }
    .album__songs img:hover{
        width: 145px;
    }
    .albumGallery img{
        width: 40%;
        margin: 0.4em;
    }
    .albumWeek{
        display: flex;
        align-items: center;
        gap: 0;
    }
   /* SECTION DE YOU MAY LIKE*/
    .albumTopSectionHeader{
        padding: 0;
    }
    main{
        display: flex;
        margin-left: 0.5rem;
        width: 95vw;
        gap:0rem;
        padding: 1rem;
    }
    .track{
        padding-bottom: 1rem;
        gap: 1rem;
    }
    .trackHeader{
        height: 19svh;
    }
    .trackDescription{
        font-size: 0.9em;
        margin-left: 1em;
    }
    .trackSongs{
        height: 67vh;
    }
    .mobileMenu{
        position: fixed;
        bottom: 1svh;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        justify-content: space-around;
        width: 100vw;
        background-color: var(--color6);
        padding: 0.8em;
        /* border-radius: 2rem; */
        z-index: 999;

    }
    .mobileMenu button{
        background: transparent;
        border: none;
        cursor: pointer;
    }
    .mobileMenu i{
        font-size: 2rem;
        background: transparent;
        color: var(--color5);
    }    
    .flotingReproducer{
        width: 28px;
        height: 28px;
        border-radius: 50%;
    }
    .albumName{
        text-wrap: nowrap;
        font-size: 0.8em;
        margin-top: 5px;
    }
    .loader {
        display: flex;
        align-items: center;
        margin-left: 1vw;
        height: 30px;
      }
      
      .bar {
        display: inline-block;
        width: 3px;
        height: 8px;
        background-color: rgba(255, 255, 255, .5);
        border-radius: 10px;
        animation: scale-up4 0.8s linear infinite;
      }
      
      .bar:nth-child(2) {
        height: 20px;
        margin: 0 5px;
        animation-delay: .25s;
      }
      
      .bar:nth-child(3) {
        animation-delay: .5s;
      }
      
      @keyframes scale-up4 {
        20% {
          background-color: #ffff;
          transform: scaleY(1.5);
        }
      
        40% {
          transform: scaleY(1);
        }
      }
}