@import url(variables.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   background-color: black;
    display:grid;
    grid-template-columns: 1fr 1.8fr 1fr;
    color: var(--color3);
    font-family: "Mukta", sans-serif;
    height: 100vh;
    overflow-y: hidden;
}
::-webkit-scrollbar {
    width: 10px; 
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px; 
}
* {
    scrollbar-width: thin;
    scrollbar-color: #888 transparent;
}
*::-moz-scrollbar {
    width: 10px;
}
*::-moz-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
}
.album{
    display: flex;
    flex-direction: column;
    height: 100svh;
    gap: 0.7rem;
    padding: 0.5rem;
    width: 100%;
}

.discover{
    background-color: var(--color2);
    width: 100%;
    position: relative;
    justify-content: space-between;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-self: center;
    padding: 1rem;
    height: 23svh;
}
.discover h1{
    font-size: 3.5svh;
    color: var(--color3);
    margin-top: 0.3em;
}

.album__search {
    display: flex;
    align-items: center;
    position: relative;
    text-align: center;
    align-self: center;
  }
  
  .search-header__input {
    font-family: inherit;
    font-size: 16px;
    background-color: #0a0a0a;
    border: solid 0.5px #525252;
    color: #646464;
    padding: 0.7rem 1rem;
    border-radius: 25px;
    width: 20vw;
    height: 48px;
    transition: all ease-in-out 0.5s;
    margin-right: -2rem;
    opacity: 1;
    text-align: center;
  }
  
  .search-header__input:hover,
  .search-header__input:focus {
    box-shadow: 0 0 1em #00000013;
  }
  
  .search-header__input:focus {
    outline: none;
    background-color: #0a0a0aad;
  }
  
  .search-header__input::-webkit-input-placeholder {
    font-weight: 100;
    color: #3a3a3a;
  }
  
  .search-header__input:focus + .search-header__button {
    background-color: transparent;
  }
  
  .search-header__button {
    border: none;
    background-color: transparent;
    margin-top: 0.1em;
  }
  
  .search-header__button:hover {
    cursor: pointer;
  }
  
  .search-header__icon {
    height: 1.3em;
    width: 1.3em;
    fill: #3a3a3a;
  }
  
/* seccion de top char */
.albumTopSection{
    display: flex;
    flex-direction: column; 
    background-color: var(--color2);
    padding: 2rem;
    border-radius: 1rem;
    color: var(--color3);
    height: 57svh;
}
.albumGallery img:hover{
    width: 50%;
    transition: 0.5s;
}
.albumGallery :nth-child(3){
    color: rgba(255, 255, 255, 0.521)
    
}
.albumGallery img{
    width: 150px;
    transition: width 0.3s ease;
    border-radius: 1rem;
}
.albumTopSectionHeader{
    display: flex;
    flex-direction: row;
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: x-large;
    justify-content: space-between;
}
.albumWeek{
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 0.479);
}


.albumWeek{
    display: flex;
    gap: 1rem;
}
.albumGallery{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    width: 100%;
    overflow-y: scroll; 
    height: auto;
    margin-top: 1em;
    
}

.albumGallery img {
    border-radius: 1em;
    width: 37%; 
    height: auto; 
    margin: 0.5em;
}
.main__frame{
    display: flex;
    align-items: center;
    position: relative;
    height: 85svh;
    margin-bottom: 3svh;
    width: 95%;
}
/* you may like this section  */
.mayLikeSection{
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
    background-color: var(--color2);
    border-radius: 1rem;
    color: var(--color3);
    height: 18svh;
}
.mayLikeName :nth-child(2){
    color:rgba(255, 255, 255, 0.479)
}
.mayLikeTitle{
    display: flex;
    justify-content: flex-start;
    padding-top: 1rem;
}

.mayLikeSongs img{
    width: 70px;
    border-radius: 1rem;
}
.mayLikeSongs{
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 0.3rem;
    width: 97%;
    border-radius: 1rem;
}
.mayLikeSongs:hover{  
        background-color: #242424;
}
.descritionMayLike{
    overflow: hidden;
}
.mayLikeGallery{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 13svh;   
    margin-bottom: 1rem;
    overflow-y: scroll; 
}
.album__mayLikeSongs :nth-child(3){
    margin-left: 3rem;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color2);
    border-radius: 1rem;
    margin: 0.5rem 0;
    position: relative;
    height: 98svh;
    justify-content: space-between;
}

.main__heading{
    display: flex;
    height: 5svh;
    align-items: center;
    font-size: 2.5svh;
    margin-top: 2svh;
}
#changeThemeButton{
    position: absolute;
    right: 1.5em;
    top: 1.5em;

}
.album__mainSearch{
    display: flex;
    align-items: center;
    height: 5svh;
    margin-bottom: 1.2svh;
}
.album__mainSearch i{
    font-size: x-large;
}
.album__mainSearch input[type="text"]{
    flex: 1; 
    border: none;
    background-color:transparent; 
    color: #fff; 
    font-size: 18px; 
    outline: none;
    margin-left: 0.5em;
}
.album__mainSearch button {
    padding: 10px 20px;
    background-color:#242424; 
    color: #fff; 
    border: none; 
    border-radius: 0 50px 50px 0; 
    cursor: pointer;
}
.album__mainSearch button:hover {
    background-color: #fff;
    color: black;
    transition: 0.5s;
}
.track{
    display: flex;
    flex-direction: column; 
    margin: 0.5rem;
    padding: 0.5rem;
    gap: 2rem;
    border-radius: 1rem;
    height: 98svh;
    background-color: var(--color2);
}
.track__heading{
    padding-top: 2rem;
    padding-left: 2rem;
}
.track__heading h3{
    font-size: x-large;
}
.track__heading h5{
    padding-top: 2rem;
}

.track__songsName{
    display: flex;
    align-items: center; 
    border-radius: 1rem;
    transition: padding 0.3s ease;
    width: 98%;
    margin-bottom: 0.8em; 
}
.artist__name{
    text-wrap: nowrap;
}
.track__playingNext{
    padding-left: 2rem;
    font-size: large;

}
.track__search{
    display: flex;
    gap: 1rem;
    align-items: center;
    padding-left: 2rem;
    width: auto;
}
.track__search i{
    font-size: x-large;
}
.track__search input[type="text"]{
    flex: 1; 
    border: none;
    background-color:transparent; 
    color: #fff; 
    font-size: 18px; 
    outline: none; 
}
.track__search button {
    padding: 10px 20px;
    background-color:#242424; 
    color: #fff; 
    border: none; 
    border-radius: 0 50px 50px 0; 
    cursor: pointer;
}
.track__search button:hover {
    background-color: #fff;
    color: black;
    transition: 0.5s;
}
.track__songs{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: 75vh;
    gap: 1rem;
    padding-left: 2rem;
}
.track__description{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-left: 0.5vw;
    font-size: 0.9vw;
}

.track__description :nth-child(2){
    color:rgba(255, 255, 255, 0.479)
}

.track__time{
    display: flex;
    text-wrap: nowrap;
    justify-content: center;
    flex-direction: column;
    margin-left: 3rem;
    margin-right: 2em;
}
.track__hora{
    font-size: small;
}
.track__año{
    align-self: center;
    font-size: smaller;
}

.track__songsName:hover{
    background-color: #242424;
    padding: 0.4rem;
    cursor: pointer;
}
.track__songsName img{
    width: 60px;
    margin-left: 0.5vw;
    border-radius: 0.8rem;
}
img:hover{
    cursor: pointer;
}

.track__songsName {
    opacity: 0;
}

.track__songsName.active {
    opacity: 1;
}

.mobileMenu{
    display: none;
}

@media (max-width: 800px) {

    body{
        display: grid;
        grid-template-columns: 1fr;
        overflow-y: scroll;
    }
    .mainColumn, .track{
        display: none;
    }
    .album{
        height: 100svh;
    }
    #firstColumn{
        display: block;
    }
    .search-header__input{
        width: 80vw;
    }
    .album__search{
        margin-top: 1svh;
    }
    .album__search i{
        font-size: medium;
    }
    .album__search input[type="text"]{
        font-size: 0.8rem;
    }
    .discover{
        width: 95vw;
        height: 20vh;
        margin-bottom: 1svh;
    }
    .albumTopSection{
        width: 95vw;
        height: 55vh;
        margin-bottom: 1svh;
    }
    .mayLikeSection{
        width: 95vw;
        height: 21vh;
        margin-bottom: 1svh;
    }
    .album__discover h1{
    font-size: 3rem;
    }
    .album__search button:hover {
        border: 1px solid #1ed760; 
    }
    .album__discover :nth-child(1){
        color: var(--color5);
    }
    .album__songs img{
        width: 150px;
        transition: width 0.3s ease;
        border-radius: 1rem;
    }
    .album__top{
     gap: 0;
       padding-top: 2rem;
       border-radius: 1rem;
    }
    .album__songs img:hover{
        width: 145px;
    }
    .album__gallery{
        justify-content: center;
        gap: 1rem;
        align-items: center;
        flex-direction: column;
        flex-wrap: nowrap;
        overflow-x: scroll; 
        height: 89vw;
    }
    .album__subtitle{
        display: flex;
        flex-direction: row;
        padding-left: 0rem;
        padding-right:0rem;
        font-size:1.5rem;
        justify-content: space-between;
    }
    .album__week{
        display: flex;
        align-items: center;
        gap: 1rem;
    }
   /* SECTION DE YOU MAY LIKE THIS*/
    .album__mayLike{
        display: flex;
        flex-direction: column;
        padding-left: 2rem;
        gap: 1em;
        background-color: var(--color2);
        border-radius: 1rem;
        color: var(--color3)
    }
    .album__mayLikeName :nth-child(2){
        color:rgba(255, 255, 255, 0.479)
    }
    .album__mayLikeTitle{
        display: flex;
        justify-content: flex-start;
        font-size: 1.2rem;
        padding-top: 1.5rem;
        
    }
    .album__mayLikeSongs img{
        width: 70px;
        border-radius: 1rem;
    }
    .album__mayLikeSongs{
        display: flex;
        gap: 1rem;
        align-items: center;
        padding: 0.7rem;
        width: 97%;
        border-radius: 1rem;
    }
    .album__mayLikeSongs:hover{
        
            background-color: #242424;
    }
    .album__mayLikeGallery{
        
        display: flex;
        flex-direction: column;
        gap: 1rem;
        
        height: 20vh;
        
        margin-bottom: 1rem;
        overflow-y: scroll; 
    }
    .album__mayLikeSongs {
        font-size: 0.8rem;
    }
    .album__mayLikeSongs :nth-child(3){
        margin-left: 3rem;
        font-size: smaller;
    }
    main{
        display: flex;
        margin-left: 0.5rem;
        width: 95vw;
        gap:0rem;
        padding: 1rem;
    }
    .main__heading{
        padding-top: 2rem;
        display: flex;
        justify-content: center;
        font-size: larger;
    }
    .frame__box{
        
        display:  flex;
        width: 100vw;
        height: 560px;
        padding: 0rem;
        
    }
    .album__mainSearch{
        display: flex;
        gap: 1rem;
        align-items: center;
        padding-bottom: 1.5rem;
        width: 80vw;
    }
    .album__mainSearch i{
      
        color:var(--color5);
    }
    .album__mainSearch input[type="text"]{
        font-size: 0.8rem;  /* Tamaño de fuente */
      
    }
    .album__mainSearch Button{
        padding: 0.5rem  0.8rem;
    }
  
    .album__mainSearch button:hover {
        border: 1px solid var(--color5); 
    }
    .track{
        padding-bottom: 1rem;
    }
    .track__description{
        font-size: 0.9em;
        margin-left: 1em;
    }
    .track__songs{
        height: 67vh;
    }
    .mobileMenu{
        position: fixed;
        bottom: 1.5svh;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        justify-content: space-around;
        width: 60vw;
        background-color: var(--color6);
        padding: 0.8em;
        border-radius: 2rem;
        z-index: 999;

    }
    .mobileMenu button{
        background: transparent;
        border: none;
        cursor: pointer;
    }
    .mobileMenu i{
        font-size: 2rem;
        background: transparent;
        color: var(--color5);
    }    
}